/*
Icons
------------------------------------------------*/

.icon {
	background-repeat: no-repeat;
}

.icon .icon-people {
	background: url(../assets/icon-people.png);
	width: 60px;
	height: 60px;
}

.icon .icon-crowd-funding {
	background: url(../assets/icon-crowd-funding.png);
	width: 60px;
	height: 60px;
}

.icon .icon-land-acquisition {
	background: url(../assets/icon-land-acquisition.png);
	width: 60px;
	height: 60px;
}

.icon .icon-land-preservation {
	background: url(../assets/icon-land-preservation.png);
	width: 60px;
	height: 60px;
}