/*
Icons
------------------------------------------------*/

.icon {
	background-repeat: no-repeat;
	border: none;
	margin: 0 auto;
}

.icon.icon-read-more {
	background: url(../assets/icon-read-more.svg);
	width: 80px;
	height: 80px;
}

.icon.icon-people {
	background: url(../assets/icon-people.svg);
	width: 100px;
	height: 85px;
}

.icon.icon-github {
	background: url(../assets/icon-github.svg);
	width: 60px;
	height: 60px;
}

.icon.icon-twitter {
	background: url(../assets/icon-twitter.svg);
	height: 150px;
	width: 150px;
}

.icon.icon-crowd-funding {
	background: url(../assets/icon-crowdfunding.svg);
	width: 80px;
	height: 80px;
}

.icon.icon-land-acquisition {
	background: url(../assets/icon-land-acquisition.svg);
	width: 65px;
	height: 90px;
}

.icon.icon-land-preservation {
	background: url(../assets/icon-land-preservation.svg);
	width: 94px;
	height: 85px;
}

.icon.icon-fancy-br {
	background: url(../assets/icon-fancy-br.svg);
	max-width: 290px;
	height: 17px;
	margin: 40px auto;
}

@media screen and (max-width: 640px) {
	.icon.icon-fancy-br {
		background: url(../assets/icon-fancy-br-small.svg);
		max-width: 131px;
		height: 17px;
	}
}
