/*
Welcome Section
------------------------------------------------*/

.welcome {
	background-image: url(../assets/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.welcome h1 {
	font-size: 60px;
	color: #FFFFFF;
    text-shadow: 2px 3px rgba(0,0,0,0.5);
	text-transform: uppercase;
	padding: 150px 15px 15px 15px;
}

.welcome h2 {
	font-size: 24px;
	color: #FFFFFF;
    text-shadow: 2px 1px rgba(0,0,0,0.5);
    padding: 0 15px;
    margin-bottom: 100px;
}


/*
Vision Section
----------------------*/

.vision {
	margin-bottom: 100px;
}

.vision p {
	font-size: 20px;
}



/*
Intro Section
------------------------------------------------*/

.services .intro {
	font-size: 24px;
	color: #102215;
	padding: 10% 15%;
	text-align: center;
	margin: 0 auto;
}


/*
Services Section
------------------------------------------------*/

.services {
	height: auto;
	padding: 0 40px;
}

.services.suggestions {
	padding: 0 40px 10% 40px;
}

.services h2 {
	font-size: 20px;
	color: #102215;
	text-transform: uppercase;
	line-height: 1.5;
	padding-bottom: 10px;
}

.services h3 {
	font-size: 16px;
	padding-top: 20px;
}

.more.services {
	height: auto;
	padding: 0 40px;
	margin-top: 100px;
}

.more.services:last-child {

}

.more.services.suggestions {
	padding: 0 40px 10% 40px;
}

.more.services h2 {
	font-size: 20px;
	color: #102215;
	text-transform: uppercase;
	line-height: 1.5;
	padding-bottom: 10px;
}

.more.services h3 {
	font-size: 16px;
	padding-top: 20px;
}

.suggestions .large.button {
	margin-top: 50px;
}


/*
About Section
------------------------------------------------*/

.about {
	width: 100%;
	height: auto;
	padding: 0 40px 10% 40px;
}

.about h2 {
	font-size: 34px;
	margin-bottom: 30px;
}



/*
Concept Section
------------------------------------------------*/

.concept {
	width: 100%;
	height: auto;
	padding: 0 40px 10% 40px;
}

.concept h2 {
	font-size: 34px;
	margin-bottom: 30px;
}

.concept p {
	font-size: 24px;
}

.concept ul {
	width: 70%;
	margin: 0 auto;
}

.concept ul li {
	font-size: 20px;
	list-style: none;
	margin-bottom: 60px;
}

.concept ul li.list-number {
	background-color: #ECECEC;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
	color: #333333;
	font-weight: 500;
	line-height: 2.4;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	margin: 0 auto 20px auto;

}


/*
Join Us Section
------------------------------------------------*/

.join-us {
	padding: 0 40px 40px 40px;
}

.join-us h2 {
	font-size: 34px;
	margin-bottom: 40px;
}

.join-us a.large.button {
	margin-top: 50px;
	width: 200px;
}


/*
Navigation on More page
------------------------------------------------*/

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.navigation .title {
	text-align: center;
}

.navigation .title h1 {
	font-size: 20px;
	color: #102215;
	line-height: 2.5;
	text-transform: uppercase;
}

nav {
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	height: 50px;
}

nav .back {
	position: fixed;
	top: 6px;
	left: 20px;
	padding: 6px 15px;
	background-color: #ececec;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


/*
Footer
------------------------------------------------*/

footer {
	margin-bottom: 20%;
}

footer div a {
	display: inline-block;
}

footer div a:first-child {
	margin-right: 15px;
}


/*
Custom rules for smaller screens
------------------------------------------------*/

@media screen and (max-width: 1024px) {
	.services.suggestions .item {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 640px) {
	.navigation .title h1 {
		text-align: right;
	}
	nav .back {
		text-align: left;
		/*width: 165px;*/
		font-size: 14px;
		left: 5px;
	}
	.welcome h1 {
		font-size: 40px;
		padding: 100px 15px 15px 15px;
	}

	.welcome h2 {
		font-size: 18px;
	}


	.services .intro {
		font-size: 18px;
		padding: 0 15px !important;
		text-align: left !important;
		margin: 100px auto;
	}

	.services.suggestions .item {
		margin-bottom: 60px;
	}

	.concept ul {
		width: 100%;
	}
	.concept p {
		font-size: 18px;
	}
}
